.stil{
    padding:50px;
     background-color:#E0F2F1;
    
 }
 .cart{
     background-color:	#80CBC4;
     border-radius: 40px;
     box-shadow: 0px 0px 10px 0px #000;
     font-style: oblique;
     font-weight: bold;
 
 }
 h5{
 
     text-align: center;
     color: 	#FF8A65;
 }